<form id="auth" class="pt-3" (submit)="isRegister ? register() : login()">
  <div class="d-flex flex-column align-items-center">
    <h2 *ngIf="!isRegister; else elseBlock">Login</h2>
    <ng-template #elseBlock><h2>Register</h2></ng-template>

    <div class="login-container mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required
        aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="login-container mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
    </div>

    <div *ngIf="isRegister" class="login-container mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm password</label>
      <input type="password" class="form-control" id="confirmPass" [(ngModel)]="confirmPass" name="confirmPass"
        required>
    </div>

    <div class="login-container mb-3">
      <button type="submit" class="btn btn-primary">{{ isRegister ? 'Register' : 'Login' }}</button>
    </div>

    <div class="login-container mb-3">
      <button type="button" class="btn btn-secondary" (click)="isRegister = !isRegister">
        {{ isRegister ? 'Already have an account? Login' : 'Don\'t have an account? Register' }}
      </button>
    </div>
  </div>
</form>
